@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* HEADER with drop-shadow on scroll */
#header {
  height: 80px; /* 64 + 16px */
  position: sticky;
  -webkit-position: sticky;
  /* negative top allows for 16 pixels of movement before sticking */
  top: -16px;
  /* make sure header overlaps main*/
  z-index: 50;

  /* fix weird flickering issue in chrome: https://stackoverflow.com/a/22224884/286685 */
  --webkit-backface-visibility: hidden;
}

/* PSEUDO ELEMENTS to create drop-shadow */
#header::before,
#header::after {
  content: '';
  display: block;
  /* border: 1px solid black; */
  height: -16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
}

/* SHADOW */
#header::before {
  top: 48; /* shadow is at bottom of element, so at 48 + 16 = 64px */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* COVER */
#header::after {
  /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
  background: linear-gradient(
    white 10%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 70%,
    transparent
  );
  top: 0;
  /* cover should fall over shadow */
  z-index: 2;
}

/* HEADER CONTENT */
#header > div {
  height: 64px;

  position: sticky;
  -webkit-position: sticky;
  top: 0px;
  /* compensate for shadow with negative margin */
  margin-top: -16px;
  /* content should fall over shadow and cover */
  z-index: 3;
}
